.navbar .navbar-nav .profile-photo {
    padding: 0; }
.navbar .navbar-nav .profile-photo .profile-photo-small {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle; }

.navbar .navbar-nav > li > .profile-photo {
    margin: 5px 2px; }